* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    background-color: #111;
}
html,
body {
    height: 100%;
    width: 100%;
}
main {
    /* position: relative; */
    height: 100%;
    width: 100%;
    background-color: #111;
    color: #fff;
}
nav {
    padding: 30px 70px;
}
nav a {
    text-decoration: none;
    font-size: 25px;
    margin-right: 30px;
    color: white;
}
main > h1 {
    font-size: 250px;
    font-weight: 400;
    padding-left: 70px;
}
.bottom {
    position: absolute;
    bottom: 20%;
    left: 3%;
    width: 300px;
}
.bottom h3 {
    font-size: 30px;
}
.bottom p {
    font-size: 18px;
    margin-top: 5px;
}
.bottom h4 {
    margin-top: 50px;
    font-size: 30px;
}
.bottom-bar {
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding: 30px 0;
    padding-left: 70px;
    bottom: 0;
    width: 100%;
    left: 0;
}
.bottom-bar a {
    color: white;
    text-decoration: none;
    font-size: 32px;
}
main > img {
    position: absolute;
    height: 350px;
    object-fit: cover;
}
main .first-img {
    height: 450px;
    top: 40%;
    left: 55%;
}
 main .second-img {
    height: 400px;
    top: 50%;
    left: 45%;
}
 main .third-img {
    height: 400px;
    top: 60%;
    left: 35%;
}